
@model KutuphaneTakipSistemi.Models.Entity.TBLHAREKET

@{
    ViewBag.Title = "OduncIade";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç İade</h2>

@using (Html.BeginForm("OduncGuncelle", "Odunc", FormMethod.Post))
{
    <div style="margin-bottom:20px"></div>
    <div class="form-group">
        <label>Hareket ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />

        @* @Html.LabelFor(k => k.AD)*@
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.TBLKITAP.AD, new { @class = "form-control" })
        <br />

        <label>Üye</label>
        @Html.TextBoxFor(k => k.TBLUYELER.AD, new { @class = "form-control" })
        <br />

        <label>Personel</label>
        @Html.TextBoxFor(k => k.TBLPERSONEL.PERSONEL, new { @class = "form-control" })
        <br />

        <label>Alış Tarihi</label>
        @Html.TextBoxFor(k => k.ALISTARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />

        <label>İade Tarihi</label>
        @Html.TextBoxFor(k => k.IADETARIH, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />

        <label>Üyenin Getirdiği Tarih</label>
        <input type="text" class="form-control" name="UYEGETIRTARIH" value="@DateTime.Now.ToShortDateString()" />
      
        <br />



    </div>
    <div>
        <button class="btn btn-warning" style="background-color:#b200ff ; color:#ffffff  ">Ödünç Kitabı Geri Al</button>
    </div>
}